input, select{
    width: 480px;
    margin: 0 auto;
    height: 55px;
    border: 2px solid #aaaaaa;
    border-radius: 12px;
    background-color: #f9f8f8;
    padding: 10px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
option{
width: 450px;
padding: 4px;
}
label{
    justify-content: left;
    display: flex;
    /* border: 1px solid red; */
    width: 150px;
    margin: 0 30px;
}
.formItem{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 26px;
}
a{
    text-decoration: underline;
    color: purple;
    font-weight: bold;
}
.brandBtn{
    width: 150px;
    height: 40px;
    background-color: #1eaea3;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

@media only screen and (max-width:1200px) {
    
}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:425px) {

    input, select{
        width: 350px;}


}
